@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .masonry {
    column-count: 1;
    column-gap: 1.5rem;
  }
  @media (min-width: 640px) {
    .masonry {
      column-count: 2;
    }
  }
  @media (min-width: 1024px) {
    .masonry {
      column-count: 3;
    }
  }
  .break-inside {
    break-inside: avoid;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}
